
body{ background-color:#cfd8dd;} 

a:focus {
	outline: none;
}
a:hover {
	text-decoration: none;
}
a:focus, a:hover{ outline:none; text-decoration:none;}
body {
	font-family: 'Open Sans', sans-serif;
}
header {
	z-index: 9;
	background-color: #1e2837;
	color: #fff;
}
.logo a {
	margin: 10px 0 0 20px;
	font-size: 25px;
	color: #fff;
	font-weight: 100;
	line-height: 0.9em;
	float: left;
}
.logo a span {
	font-weight: 600;
	color: #01b5f0;
}
.logo p {
	font-size: 14px;
	font-style: italic;
	color: #CBCBCB
}
.powered {
	float: right;
	line-height: 4.5em;
	color: #CBCBCB;
	font-size: 13px;
}
.powered span {
	font-size: 18px;
	color: #01b5f0;
	font-weight: 700
}
.form-control {
	border-radius: 0px;
	border-color: #cacaca;
	box-shadow: 2px 2px 7px 0 #ddd inset;
	height: 39px;
}
.form-horizontal .control-label {
	display:inline-block;
	color: #695252;
	text-align:left;
	min-height:35px;
}
.btn-submit {
	background: #01B5D7;
	color: #fff;
	font-size: 16px;
}
.btn-submit:hover {
	color: #fff;
	opacity: 0.8;
	background: #ff3f3f
}
.page-heading {
	color: #fff;
	border-left: 5px solid #01B5F0;
	background:url(../img/heading-bg.png) right no-repeat;
	padding: 2px 25px 3px 10px;
	height:36px;
	font-size: 20px;
	margin: 10px 0px 20px;
	display: inline-block
}
#page-content-wrapper {
	margin-top: 30px;
	padding-bottom:30px;
}
.chart-grid {
	padding: 0;
	
	margin-bottom: 40px;
	position: relative;
	transition: all 300ms linear 0s;
	
	background: #fff;
	cursor: pointer;
	position: relative;
	border-radius: 7px;
}

.chart-grid:hover{ box-shadow:0 0 20px #b9c1c6;}
.chart-grid .chart-image {
	
	display: block;
	line-height: 5em;
	overflow: hidden;
	padding: 0px 15px 60px 15px;
	text-align: center;
	vertical-align: middle;
	transition: all 300ms linear 0s;
}
.chart-grid .chart-image img {
	bottom: 0;
	border-radius:10px;
	display: block;
	height: 130px;
	z-index:99; position:relative;
	vertical-align: bottom;
	width: 90%;
	margin:auto; transition: all 300ms linear 0s;
}
.chart-grid .chart-image img:hover{width: 100%; 	transition: all 300ms linear 0s;}

.chart-grid:hover .chart-image {
	
}
.chart-grid h4 {
	color: #428bca;
	background-color:#eaeef1; padding:20px 15px;  border-bottom-left-radius:7px;  border-bottom-right-radius:7px; 
	font-size: 21px;
	transition: all 300ms linear 0s; margin:0;
}
.chart-grid h4 span {
	font-weight: 900;
	color: #1e2837;
}
.chart-grid:hover h4 {
	
}
.chart-list {
	display: table;
	width: 100%;
	position: relative;
	margin-bottom: 25px;
}
.chart-list:after {
	border-top: 1px dashed #ffb300;
	content: "";
	height: 2px;
	left: 10%;
	position: absolute;
	top: 24%;
	width: 70%;
	z-index: -1;
}
.chart-list li {
	list-style: none;
	display: table-cell;
	margin: 0px 15px;
}
.chart-list li a {
	color: #9e9e9e;
	display: block;
	text-align: center;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
}
.chart-list li a span {
	background: -moz-linear-gradient(19% 75% 90deg, #e0e0e0, #757575) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e0e0e0), to(#757575)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(19% 75% 90deg, #e0e0e0, #757575) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-color: #bdbdbd #e0e0e0 #757575;
	border-radius: 30px;
	border-style: solid;
	border-width: 2px 1px 1px;
	display: block;
	height: 15px;
	line-height: 50px;
	margin: 0 auto;
	text-align: center;
	width: 70px;
}
.chart-list li a.done {
	color: #33691e
}
.chart-list li a.done span {
	background: -moz-linear-gradient(19% 75% 90deg, #689f38, #33691e) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#689f38), to(#33691e)) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(19% 75% 90deg, #689f38, #33691e) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-color: #558b2f #689f38 #7cb342;
}


.twitter-img{ position:relative; top:10px; z-index:1; background:url(../img/twitter-img.png) no-repeat; width:56px; height:38px;}

.edit-pen{ background: rgba(0, 0, 0, 0) url("../img/pen-img.png") no-repeat scroll 0 0;
    float: right;
    height: 114px;
    position: absolute;
    right: 0;
    top: 108px;
    width: 143px;
    z-index: 999;}
/*.colorpicker input{width:20px; height:20px;}

:before{content: "";background:url(../img/colorpicker.png) no-repeat transparent;border:none;}*/

/******************************************************************************************
					MEDIA QUERY LAYOUT STRUCTURE
/******************************************************************************************/
@media (max-width: 320px) {
.chart-grid .chart-image {
	padding: 62px 29px;
}
.chart-grid .chart-image img {
	height: 100px;
}
}

@media (min-width: 321px) and (max-width: 360px) {
.chart-grid .chart-image {
	padding: 60px 35px 50px;
}
.chart-grid .chart-image img {
	height: 130px;
}
}

@media (min-width: 361px) and (max-width: 480px) {
.chart-grid .chart-image {
	padding: 114px 38px 62px;
}
.chart-grid .chart-image img {
	height: 150px;
}
}

@media (min-width: 481px) and (max-width: 640px) {
.chart-grid .chart-image {
	padding: 120px 60px;
}
.chart-grid .chart-image img {
	height: 200px;
}
}

@media (max-width: 767px) {
.chart-list {
	padding-left: 0px;
}
.chart-list::after {
	top: 11%;
}
.chart-list li a {
	font-size: 13px;
}
.chart-list li a span {
	width: 30px;
}
}

@media (min-width: 768px) and (max-width: 991px) {
.chart-grid .chart-image {
	padding: 0px 38px;
}
.chart-grid .chart-image img {
	height: 130px;
}
}

@media (min-width:992px) and (max-width: 1024px) {
.chart-grid .chart-image img {
	height: 80px;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

#chartArea{
	height : 400px;
/*	background-image: url(../img/glass-tile.png);*/
}
#canvasContainer{
	display : none;
}

ul.editorList{  left: -24px;
    position: absolute;
    top:50%;}
ul.editorList li{list-style:none; display:block; margin:10px 0 0 0;  }


.helpIcon{
  font-size: 25px !important;
  color: red;
  margin-top: 5px;
  margin-right:10px;
}
.fileUpload input.upload {
  top: 0;
  right: 0;
 margin-top: -30px;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  width:133px !important;
 }
 
 .fileUpload{ width:133px;

} 

.popImgSetting{width:996px; max-width:96%;}
.popImgSetting img{ max-width:100%; height:auto;}

.tourTolTip{ background:url(../img/toltip-img.jpg) repeat; width:400px; max-width:100%;}
.tourTolTip .popover-title{ background: #ecedf0; /* Old browsers */
background: -moz-linear-gradient(top, hsl(225,12%,93%) 0%, hsl(222,11%,78%) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(225,12%,93%)), color-stop(100%,hsl(222,11%,78%))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, hsl(225,12%,93%) 0%,hsl(222,11%,78%) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, hsl(225,12%,93%) 0%,hsl(222,11%,78%) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, hsl(225,12%,93%) 0%,hsl(222,11%,78%) 100%); /* IE10+ */
background: linear-gradient(to bottom, hsl(225,12%,93%) 0%,hsl(222,11%,78%) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecedf0', endColorstr='#bfc3cc',GradientType=0 ); /* IE6-9 */}

.tourTolTip .popover-navigation{ padding:15px;}

.popover.top > .arrow::after{border-top-color: #e8e8e8 !important;}
.popover.right > .arrow::after{border-right-color: #e8e8e8 !important;}
.popover.left>.arrow:after{border-left-color: #e8e8e8 !important;}

.tourTolTip .popover-content{ color:#9b9b9b;}

.btn-selecttour{  position: absolute; z-index:999;
  right: 15px;
  font-size:16px;
  margin-top: 6px;
  box-shadow:0px 5px 0px 0px #b0062e; 
  }
  
  
  .btn-close-toltip{  font-size: 18px;
  color: black;
  position: absolute;
  right: 10px;
  cursor:pointer;
  top: 8px;}
  
.progress-bar-list-outer{ background-color:#FFF; margin-top:64px; padding-top:30px;}
    ul.progress-bar-list{margin:0px; padding:0px; position:relative; z-index:99;}
    ul.progress-bar-list li{ display: inline;
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
   
    width: 20%; color:##9e9e9e;}
	ul.progress-bar-list li button{ border-radius:50%; height:50px; width:50px; margin:0 auto; }
	ul.progress-bar-list li button:focus, ul.progress-bar-list li button:hover{ outline: none; background-color:#fff; }
	ul.progress-bar-list li.completed button{ color:#428bca; border-color:transparent; background-color: #428bca !important; color:#FFF;}
	
	ul.progress-bar-list li.current button{ background-color: #e6e6e6; }
	
	ul.progress-bar-list li button i{ font-size:20px;}
	
.progressContainor{ max-width:950px;   }	
.progressContainor	.progress{background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-top: -20px;
    overflow: hidden;
    position: relative;
    top: -65px !important;
    z-index: 9;}
 .add-width{ max-width:100% !important; }
 
 .fade-popup{position:absolute; height:100%;
       background: rgba(0,0,0, 0.5);
         margin: auto;
		 z-index:999999;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0;
	 height:200%;
	 }
	 


 
 .helpImport{width:984px; position: absolute; border-radius:5px;  left:50%; top:50%;  height:550px; margin-left:-475px; margin-top:-275px; background-color:#FFF; z-index:9999999; 
 -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;}

.topset{ margin-top:-80%; }
 
 .pop-header{padding:10px;}
.pop-header i{position:absolute; cursor:pointer; right:0; top:20px; right:20px;}

.chart-img{padding:0 10px 0px 10px;}

.popup-open{ overflow:hidden;}